
body {
    padding: 2rem;
}

.animate-stagger span {
    display: inline-block;
    transform: translateX(100px);
    opacity: 0;
    margin-right: 5px;
    white-space: nowrap;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}